SQL_SA_PASSWORD=<CONTRASENA_SQL_LOCAL_SEGURA>
RABBITMQ_USER=clinica_rabbit
RABBITMQ_PASSWORD=<CONTRASENA_RABBITMQ_SEGURA>
JWT_KEY=<JWT_KEY_DE_MINIMO_32_CARACTERES>
OAUTH_USER=clinica_usuario
OAUTH_USER_PASSWORD=<CONTRASENA_USUARIO_OAUTH_SEGURA>
OAUTH_ADMIN=clinica_admin
OAUTH_ADMIN_PASSWORD=<CONTRASENA_ADMIN_OAUTH_SEGURA>
